@charset "UTF-8";

body {
    background-color: white;
    color: rgba(0, 0, 0, 0.74);
}

header {
    background-color: #F7F7F7;
    border-bottom: 1px solid black;
}

header > h1 {
    color: rgba(0, 0, 0, 0.877);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253);
    
}

nav > span.menu {
    background: rgba(255, 255, 255, 0.349)
}

h1#escolha {
    margin-bottom: 10px;
}

hr {
    width: 300px;
    border-color: rgba(0, 0, 0, 0.473);
}

div.inicio {
    position: absolute;
    top: -50px;
    margin-left: 70px;
}

main {
    position: relative;
    flex-direction: row;
    
    width: 95vw;
    max-width: 1300px;
    height: 600px;
    padding: 0px;
    margin-top: 100px;
  
    border-radius: 0px;
    box-shadow: none;

    background-color: white;
    color: rgba(0, 0, 0, 0.74);
}

#carbonara, #torta, #frango {
    max-width: 300px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 5px;
}

main div.imagem {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    cursor: pointer;
}

main > div.imagem > p {
    font-size: 1.3em;
    text-align: justify;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.74);
}

.curtir {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;

    width: 50px;
    height: 50px;
    margin: 10px 10px 0px 0px;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.432);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.671);
    z-index: 1;
}

.curtir > span {
   transform: scale(.9);
}

.curtir:hover{
    cursor: pointer;
    background-color: rgba(240, 54, 54, 0.692);
    transform: scale(1.1);
    transition-duration: .2s;
    transition-timing-function: ease-in-out; 
}

footer {
    border-top: 2px solid black;
    background-color: #F7F7F7;
    color: black;
}

footer p#acorde {
    
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253);
}

footer p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253);
}

div#rodapé {
    color: white;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    
    div.inicio {
        position: static;
        margin: auto;   
    }

    hr {
        width: 298px;
    }

    main {
        flex-direction: column;
        width: 95vw;
        height: auto;
        margin: 100px auto;
    }

    main div.imagem {
        margin-top: 70px;
    }

}


@media screen and (max-width: 768px) {

    header > span#menumobile:hover {
        color: rgba(0, 0, 0, 0.459);
    }

    div.inicio {
        width: 300px;
        font-size: .9em;
        position: static;
        margin: auto;
    }

    div.inicio h1 {
        padding: 10px;
    }

    hr {
        width: 300px;
    }

    main {
        flex-direction: column;

        width: 95vw;
        height: auto;
        
        margin: 50px auto;
    }

    main div.imagem {
        width: 300px;
        margin-top: 50px;
    }

    main > div.imagem > p {
        font-size: 1.2em;
        width: 300px;
    }

    #carbonara, #torta, #frango {
        max-width: 300px;
        max-height: 400px;
    }

    footer {
        height: 165px;
    }
    
    footer > p#acorde {
        font-size: 1.8em;
    }
    
    footer p {
        font-size: 1.3em;
    }
    
    footer > div#rodapé {
        font-size: 0.8em;
    }
}


